<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <script type="text/javascript">
      var prompts = document.querySelectorAll('.highlight .gp');
      for (var i = 0; i < prompts.length; ++i) {
        if (prompts[i].textContent === '$') {
          prompts[i].classList.add('no-select');
        }
      }
    </script>
  </body>
</html>
