<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <main class="content" aria-label="Content">
      {{ content }}
      <div class="content__footer content__footer--{{ page.layout }}"><a class="contact-box" href="#contact">Contact</a></div>
    </main>
    <script type="text/javascript">
      var prompts = document.querySelectorAll('.highlight .gp');
      for (var i = 0; i < prompts.length; ++i) {
        if (prompts[i].textContent === '$') {
          prompts[i].classList.add('no-select');
        }
      }
      var c = document.querySelector(".contact-box");
      var p = [".c","i", "g", "er", "s", "l", "i", "ph", "@", "l", "hi", "p", "o:", "lt", "mai"];
      var r = p.reverse();
      var h = '';
      for (var i = 0; i < r.length; ++i) { h += r[i]; }
      c.href = h + "om";
    </script>
  </body>
</html>
