---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <div class="post__date">{{ page.date | date_to_long_string: "ordinal", "US" }}</div>
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post__categories">
      {% for category in page.categories %}
      <div class="post__category">
        <div class="post__category-icon post__category-icon--{{ category | downcase }}"></div>
        <div class="post__category-name">{{ category }}</div>
      </div>
      {% endfor %}
    </div>
  </header>

  <div class="post__body{% if page.categories contains 'Tech' %} post__body--tech{% endif %}" itemprop="articleBody">
    {% if page.note %}
      <div class="post__note">{{ page.note }}</div>
    {% endif %}
    {% if page.source and page.author %}
      <div class="post__source">{{ page.source | smartify }}</div>
      <div class="post__author">{{ page.author | smartify }}</div>
    {% endif %}
    {{ content }}
  </div>
</article>
